/* Chargement de la font personnalisée */
@font-face {
  font-family: 'Syne';
  src: url('../fonts/Syne-VariableFont_wght.ttf') format('truetype');
}

body * {
  font-family: 'Syne', 'Times New Roman', Times, serif;
}

/* Suppression du padding qui est mis par défaut sur les balises ARTICLE */
/*   Pour avoir le site en plein écran (sans bordures blanches autour)   */
.site-main > article {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

#content .ast-container {
  padding: 0;
}

#content .ast-container #primary {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-uagb-image figure img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* --------------- */
/*                 */
/*     HEADER      */
/*                 */
/* --------------- */

/* Suppression du padding qui est mis par défaut sur le header que l'on utilise */
.site-primary-header-wrap {
  padding-right: 0;
  padding-left: 0;
}

/* Surcharge du bouton Admin */
.menu-admin {
  padding-right: 60px;
}

#ast-hf-mobile-menu .menu-admin {
  padding: 20px 60px 0 20px;
}

/* Surcharge du menu pour la version téléphone */
#ast-hf-mobile-menu > li:last-child,
#ast-hf-mobile-menu .menu-link,
#ast-hf-mobile-menu .menu-admin  {
  display: flex;
  height: 60px;
  background: #FFFFFF;
}

#ast-hf-mobile-menu a:hover  {
  color: #000000;
}

/* Surcharge au passage de la souri sur les liens du Header */
.main-header-menu a {
  font-size: 16px;	
  font-weight: 400;
  line-height: 19px;  
}

.main-header-menu a:hover  {
  font-size: 13px;	
  font-weight: 700;
  line-height: 15px;
  color: #000000;
}

/* Surcharge d'un style "bouton" sur le lien commande */
.main-header-menu > li:last-child {
  background-color: #e0b9b4;
  transition: 0.45s ease;
  width: 236px;
  height: 80px;
}

.main-header-menu > li:last-child a {
  font-size: 16px;	
  font-weight: 700;
  line-height: 19px; 
}

.main-header-menu > li:last-child a:hover {
  background-color: #c02e44 !important;
  font-size: 16px;	
  font-weight: 700;
  line-height: 19px; 
}

.main-header-menu li:last-child a {
  color: #ffffff !important;
  background-color: #e0b9b4 !important;
}


/* ----------------- */
/*                   */
/*   page CONTACT    */
/*                   */
/* ----------------- */


/* Pour positionner les images en dehors du flux */
/*       tout en restant dans leur contenair     */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.picture1-contact {
  top: 0px;
  left: 100px;
}

.picture2-contact {
  bottom: 0px;
  right: 40px;
}

.picture3-contact {
  bottom: 100px;
  left: -65px;
}

/* Formulaire de contact */ 
#fluentform_1 label {
  font-size: 20px;
  font-weight: 400 !important;
  line-height: 22px !important;
}

#fluentform_1 .ff-el-form-control {
    border: 0 !important;
}

#fluentform_1 .bnt-envoyer {
  /* padding: 20px 70px 20px 70px; */
  width: 198px;
  height: 55px;
  margin-top: 0;
  margin-bottom: 60px;
}

/* ------------------ */
/*                    */
/*   page COMMANDE    */
/*                    */
/* ------------------ */

/*   Zone des images  */

/*   Utilisé pour Wrappé les ensembles saisie de quantité   */
/* et garder ces élements centré sur la page après la Wrap  */
/*                                                          */
/*          Class ajoutée sur l'élément de la page          */
.wrap {
  flex-wrap: wrap !important;
}

.center {
  justify-content: center;
  margin: auto;
}

.text-img {
	top: 50%;
	left: 50%;
	width: 180px;
	transform: translate(-50%, -50%);
	
}

/*   Formulaires de commande  */
/*   Partie commune au 2 parties du formulaire   */

#fluentform_6 h2,
#fluentform_6 h3 {
  color: #ffffff;
  font-weight: 700;
  margin: 0;
}

#fluentform_6 label {
  margin: 5px 0 5px 0 !important;
  color: #ffffff;
}

/*   Partie QUANTITES   */
#fluentform_6 .ff_columns_total_4 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  text-align: center;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 50px;
}

#fluentform_6 .ff_columns_total_4 .ff-t-column-1,
#fluentform_6 .ff_columns_total_4 .ff-t-column-2,
#fluentform_6 .ff_columns_total_4 .ff-t-column-3,
#fluentform_6 .ff_columns_total_4 .ff-t-column-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2.4px;
  text-align: center;
  justify-content: center;
  width: 193px;   
}


#fluentform_6 .ff_columns_total_4 input[type='number'] {
  width: 82px;
  height: 56px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-right: 5px;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 7px;
  z-index: 1;   
}

#fluentform_6 .container-qt {
  margin: 0;  
}
#fluentform_6 .container-ok {
  max-width: 100px !important;
  width: 50%;
  height: 56px;
}

/* On donne un style de bouton au + et - qui est rajouté sur l'imput numérique */
#fluentform_6 .btn-quantity {
  width: 31px;
  height: 30px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  background-color: #e0b9b4;
  color: #ffffff;  
  left: 55px;
  padding: 0;
}

#fluentform_6 .btn-quantity:hover {
  background-color: #c02e44;
}

#fluentform_6 .btn-more {
  position: absolute;
  border: 0;
  border-bottom: solid 2px #ffffff;
  border-left: solid 1px #ffffff;
  border-radius: 0 7px 0 0;
  top: 0;
  z-index: 5;
}

#fluentform_6 .btn-less {
  position: absolute;
  border: 0;
  border-top: solid 2px #ffffff;
  border-left: solid 1px #ffffff;
  border-radius: 0 0 7px 0;
  bottom: 0;
  z-index: 5;
}

/* On donne un style différent des autres boutons du site */
#fluentform_6 .btn-ok {
  padding: 15px 20px 15px 20px !important;
  max-width: 100px;
  width: 100%;
  height: 56px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0;  
}


/*    Partie INFORMATIONS   */
#fluentform_6 .ff_columns_total_2 label {
  margin: 5px 0 5px 0 !important;
  color: #ffffff;
}

#fluentform_6 .ff_columns_total_2 input[type='text'],
#fluentform_6 .ff_columns_total_2 input[type='email'] {
  height: 70px;
  border-radius: 7px;
  margin: 0;
}

#fluentform_6 .ff_columns_total_2 .ff-t-column-1 {
  border-right: 1px solid #ffffff;
}

#fluentform_6 .ff_columns_total_2 .ff-t-column-2 {
  padding-left: 30px;
}

#fluentform_6 .input-order {
  width: 390px;
}

#fluentform_6 .bnt-commande {
  /* padding: 20px 70px 20px 70px; */
  width: 198px;
  height: 55px;
  margin-top: 40px;
  margin-bottom: 60px;
}


/* --------------------------------------------------------------- */


/*  **********************************  */
/*    Media query : max-width: 976px    */
/*  **********************************  */
@media only screen and (max-width: 976px) {
  /* ----------------- */
  /*                   */
  /*   page CONTACT    */
  /*                   */
  /* ----------------- */

  /*        Positions relatives des images       */
  /* On déplace l'image pour la version portable */
  .picture1-contact {
    top: -15px;
    left: 20px;
  }
  
    /* ------------------ */
    /*                    */
    /*   page COMMANDE    */
    /*                    */
    /* ------------------ */
		 
    #fluentform_6 .ff_columns_total_4 {
      flex-wrap: wrap;
	    gap: 175px 10px;
	    margin-top: -265px;
    }
	
	 #fluentform_6 .ff-t-cell:last-of-type {
      flex-grow: 0;
	 }
	 
	 #fluentform_6 .ff_columns_total_4 .ff-t-column-1,
	 #fluentform_6 .ff_columns_total_4 .ff-t-column-2,
	 #fluentform_6 .ff_columns_total_4 .ff-t-column-3,
	 #fluentform_6 .ff_columns_total_4 .ff-t-column-4 {
		 flex-basis: 45% !important;
	 }
	 
 
	 #fluentform_6 .btn-quantity {
		 left: 65px;
	}	
  
    #fluentform_6 .ff_columns_total_2 {
      flex-direction: column;
      gap: 0px;
	  padding-left: 50px;
    }
    
    #fluentform_6 .ff_columns_total_2 .ff-t-column-1 {
      border-right: 0;
    }
    
    #fluentform_6 .ff_columns_total_2 .ff-t-column-2 {
      padding-left: 0;
      padding-top: 30px;
    }
  
 }

/*  **********************************  */
/*    Media query : max-width: 920px    */
/*  **********************************  */
@media only screen and (max-width: 920px) {	
	  /* ------------------ */
	  /*                    */
	  /*   page COMMANDE    */
	  /*                    */
	  /* ------------------ */  
		 
    #fluentform_6 .ff_columns_total_4 {
      flex-wrap: wrap;
	  gap: 165px 0px;
	  margin-top: -260px;
    }
	
}

/*  **********************************  */
/*    Media query : max-width: 767px    */
/*  **********************************  */
@media only screen and (max-width: 767px) {
  .wp-block-uagb-image figure img {
    width: 80% !important;
    object-fit: contain;
  }
	
	  /* ------------------ */
	  /*                    */
	  /*   page COMMANDE    */
	  /*                    */
	  /* ------------------ */  
		 
    #fluentform_6 .ff_columns_total_4 {
	  gap: 145px 0px;
	  margin-top: -705px;
    }
	
	#fluentform_6 .btn-quantity {
		left: 51px;
	}
	
	#fluentform_6 .btn-less {
		bottom: 20px;
	}
	
	#fluentform_6 .ff_columns_total_2 {
      flex-direction: column;
      gap: 0px;
	  padding-left: 0;
    }
	  
    #fluentform_6 .ff_columns_total_2 input[type='text'],
    #fluentform_6 .ff_columns_total_2 input[type='email'] {
      height: 60px;
    }

    #fluentform_6 .ff_columns_total_2 .input-order {
      width:250px;
    }
}

/*  **********************************  */
/*    Media query : max-width: 545px    */
/*  **********************************  */
@media only screen and (max-width: 545px) {


  .wp-block-uagb-image figure img {
    width: 20% !important;
  }
	
	  /* ------------------ */
	  /*                    */
	  /*   page COMMANDE    */
	  /*                    */
	  /* ------------------ */  
		 
    #fluentform_6 .ff_columns_total_4 {
	  gap: 165px 0px;
	  margin-top: -755px;
    }
}
 