*,
body {
  font-family: 'Syne', 'Times New Roman', Times, serif;
  background-color: #3b8e46;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
}

.container-form h1,
.container-form h2,
.container-form h3,
.container-form label {
  color: #ffffff;
}

.container-form h2 {
  text-align: left;
  color: #ffffff;
}

.container-form label {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
}

div .order {
  padding-top: 40px;
  border-top: 1px solid #ffffff;
  background-color: #3b8e46;
}

.container-form input {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 7px;
  text-align: left;
}

.container-form input:hover,
.container-form input:active,
.container-form input:focus {
  border: 1px solid #ffffff;
}

/* page COMMANDE */
.container-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 860px;
  margin: auto;
  width: 90%;
}

/* ----------------------- */
/*   FORMULAIRE COMMANDE   */
/* ----------------------- */
.container-form .container-order {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ffffff;
}

/* Menu avec saisie quantités */
.container-form .form-order {
  width: 195px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  justify-content: center;
}

/* Image au dessus des quantités */
.container-form div .figure-order {
  margin: 0;
}

.container-form .image-order {
  width: 193px;
}

/* Bouton de saisie des quantités */
.container-form div .container-quantity {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  justify-content: center;
}

.container-form .quantity {
  position: relative;
}

.container-form .order-quantity {
  position: relative;
  width: 80px;
  height: 56px;
  padding-right: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  text-align: center;
  z-index: 1;
}

.container-form .btn-quantity {
  width: 31px;
  height: 30px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #e0b9b4;
  border-left: solid 1px #ffffff;
  position: absolute;
  padding: 0;
  left: 56px;
  z-index: 5;
}

.container-form .btn-more {
  border-bottom: solid 2px #ffffff;
  border-radius: 0 7px 0 0;
  top: 0;
}

.container-form .btn-less {
  border-top: solid 2px #ffffff;
  border-radius: 0 0 7px 0;
  bottom: 0;
}

.container-form .btn-ok {
  width: 100px;
  height: 56px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #e0b9b4;
  border: solid 1px #e0b9b4;
  border-radius: 5px;
}

.container-form .btn-more:hover,
.container-form .btn-less:hover,
.container-form .btn-ok:hover:hover {
  background-color: #c02e44;
  border: solid 1px #c02e44;
}

/* --------------------------- */
/*   FORMULAIRE INFORMATIONS   */
/* --------------------------- */
.container-form .container-order {
  text-align: center;
  justify-content: center;
}

.container-form .container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.container-form .container-information,
.container-form .container-delivery {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 48%;
}

.container-form .information {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.container-form .information label {
  padding-bottom: 10px;
}

.container-form .information input {
  /* width: 390px; */
  height: 70px;
  padding-left: 10px;
}

.container-form .container-information {
  border-right: 1px solid #ffffff;
  padding-right: 45px;
}

.container-form .container-delivery {
  padding-left: 45px;
}

/* BOUTON VALIDATION */
.container-form .btn-validate {
  margin: 35px auto 90px;
  padding: 18px 56px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #e0b9b4;
  border: solid 1px #e0b9b4;
  border-radius: 5px;
}

.container-form .btn-validate:hover {
  background-color: #c02e44;
  border: solid 1px #c02e44;
}

/*  **********************************  */
/*    Media query : max-width: 768px    */
/*  **********************************  */
@media only screen and (max-width: 768px) {
  .container-form div .order {
    max-width: 380px;
  }

  .container-form .container-bottom {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
  }

  .container-form .container-information,
  .container-form .container-delivery {
    width: 360px;
    border-right: 0px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 60px;
  }
}
