/* Chargement de la font personnalisée */
@font-face {
  font-family: 'Syne';
  src: url('../fonts/Syne-VariableFont_wght.ttf') format('truetype');
}

body * {
  font-family: 'Syne', 'Times New Roman', Times, serif;
}

/* Suppression du padding qui est mis par défaut sur les balises ARTICLE */
/*   Pour avoir le site en plein écran (sans bordures blanches autour)   */
.site-main > article {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

/* --------------- */
/*                 */
/*     HEADER      */
/*                 */
/* --------------- */

/* Suppression du padding qui est mis par défaut sur le header que l'on utilise */
.site-primary-header-wrap {
  padding-right: 0;
  padding-left: 0;
}

/* Surcharge du bouton Admin */
.menu-admin {
  padding-right: 60px;
}

#ast-hf-mobile-menu .menu-admin {
  padding: 20px 60px 0 20px;
}

/* Surcharge du menu pour la version téléphone */
#ast-hf-mobile-menu > li:last-child,
#ast-hf-mobile-menu .menu-link,
#ast-hf-mobile-menu .menu-admin  {
  display: flex;
  height: 60px;
  background: #FFFFFF;
}

#ast-hf-mobile-menua:hover  {
  color: #000000;
}

/* Surcharge au passage de la souri sur les liens du Header */
.main-header-menu a {
  font-size: 16px;	
  font-weight: 400;
  line-height: 19px;  
}

.main-header-menu a:hover  {
  font-size: 13px;	
  font-weight: 700;
  line-height: 15px;
  color: #000000;
}

/* Surcharge d'un style "bouton" sur le lien commande */
.main-header-menu > li:last-child {
  background-color: #e0b9b4;
  transition: 0.45s ease;
  width: 236px;
  height: 80px;
}

.main-header-menu > li:last-child a {
  font-size: 16px;	
  font-weight: 700;
  line-height: 19px; 
}

.main-header-menu > li:last-child a:hover {
  background-color: #c02e44 !important;
  font-size: 16px;	
  font-weight: 700;
  line-height: 19px; 
}

.main-header-menu li:last-child a {
  color: #ffffff !important;
  background-color: #e0b9b4 !important;
}


/* ----------------- */
/*                   */
/*   page CONTACT    */
/*                   */
/* ----------------- */


/* Pour positionner les images en dehors du flux */
/*       tout en restant dans leur contenair     */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.picture1-contact {
  top: 0px;
  left: 100px;
}

.picture2-contact {
  bottom: 0px;
  right: 40px;
}

.picture3-contact {
  bottom: 60px;
  left: -50px;
}


/* ------------------ */
/*                    */
/*   page COMMANDE    */
/*                    */
/* ------------------ */

/*   Utilisé pour Wrappé les ensembles saisie de quantité   */
/* et garder ces élements centré sur la page après la Wrap  */
/*                                                          */
/*          Class ajoutée sur l'élément de la page          */
.wrap {
  flex-wrap: wrap !important;
}

.center {
  justify-content: center;
  margin: auto;
}

/*  **********************************  */
/*    Media query : max-width: 976px    */
/*  **********************************  */
@media only screen and (max-width: 976px) {
  /* ----------------- */
  /*                   */
  /*   page CONTACT    */
  /*                   */
  /* ----------------- */

  /*        Positions relatives des images       */
  /* On déplace l'image pour la version portable */
  .picture1-contact {
    top: -15px;
    left: 20px;
  }
  
 